# Assignment 01 — Software Development (Winter 25/26)

This notebook provides simple, step-by-step solutions with explanations for Assignment 01.

## Exercise 1 — Geometric formulas
We compute the area of a rectangle and a simple price breakdown with tax.

In [ ]:
# (a) Naive calculation: area of 4m x 3m
area = 4 * 3
area

In [ ]:
# (b) Using variables with meaningful names
length_m = 4
width_m = 3
area_sqm = length_m * width_m
area_sqm

In [ ]:
# (c) Price calculation with 3.5% tax
def price_breakdown(length_m: float, width_m: float, price_per_sqm: float, tax_rate: float = 0.035):
    area = length_m * width_m
    net = area * price_per_sqm
    tax = net * tax_rate
    gross = net + tax
    return {
        'area_m2': area,
        'net_eur': net,
        'tax_eur': tax,
        'gross_eur': gross,
    }

res = price_breakdown(4, 3, 50.0)
res

## Exercise 2 — Dog years
We convert dog years to human years using the given rules (0→0, 1→14, 2→22, each additional year → +5).

In [ ]:
def convert_dog_to_human_years(dog_years: int) -> int:
    if dog_years == 0:
        return 0
    elif dog_years == 1:
        return 14
    elif dog_years == 2:
        return 22
    else:
        return 22 + 5 * (dog_years - 2)

# Examples
[convert_dog_to_human_years(x) for x in range(0, 8)]

## Exercise 3 — Leap years
Rule: Leap year if divisible by 4, except years divisible by 100 are not leap years, unless divisible by 400.

In [ ]:
def is_leap_year(year: int) -> bool:
    return (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0)

# Quick checks
test_years = [1900, 2000, 2024, 2025]
{y: is_leap_year(y) for y in test_years}